:root {
  --text-primary: #eeeeee;
  --background-primary: #000000;
  --background-secondary: #222222;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
  color: var(--text-primary);
  background: var(--background-primary);
  border-radius: 6px;
  overflow-x: hidden;
  line-height: 1.5;
}

.fa {
  margin-right: 0.25rem;
}

.banner {
  margin-bottom: 1rem;
}

.banner img {
  height: 200px;
}

img#image-box {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}

a#random-button {
  width: 120px;
  width: 120px;
  background: #4d4d4d;
  color: var(--text-primary);
  letter-spacing: 0rem;
  border-radius: 0.25rem;
}


a {
  color: var(--text-primary);
  text-decoration: none;
  letter-spacing: 0.125rem;
  display: inline-block;
  position: relative;
}

a.inline-link {
  letter-spacing: 0em;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--text-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover:after { 
  width: 100%; 
  left: 0;
}

.footer {
  background: var(--background-secondary);
  line-height: 3rem;
  margin-bottom: 0rem;
}

.footer ul {
  margin-bottom: 0rem;
}

.footer ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  margin-left: 0.5em;
  margin-right: 0.5em;
  zoom:1;
  *display:inline;
  /* this fix is needed for IE7- */
}

.card-columns .card {
  column-gap: 20rem;
  border-radius: 10px;
  padding: 20px 20px;
  background: var(--background-secondary);
  width: auto;
}

.card-columns {
  column-gap: 2rem;
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
  
}